
    <div class="container">
        <div class="row">
            <div class="col-3 pt-5 border">
                <div class="card">
                    <a href="index.html" class="mt-4">
                        <button class="btn btn-info btn-block">Input</button>
                    </a>
                    <a href="cari.html" class="mt-2">
                        <button class="btn btn-info btn-block">Cari</button>
                    </a>
                </div>
            </div>
            <div class="col-9">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>CARI DATA</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <label class="col-2">No KK</label>
                            <input type="text" class="form-control col-7" name="" id="no_kk" />
                            <select name="" id="" class="form-control col-2">
                                <option value="">Nama</option>
                                <option value="">NIK</option>
                                <option value="">No KK</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 mt-5">
                        <table class="table table-bordered">
                            <thead class="text-center">
                                <th>Nama</th>
                                <th>Nik</th>
                                <th>No_KK</th>
                                <th>RT</th>
                                <th>RW</th>
                                <th>Dusun</th>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>Risna</td>
                                    <td>11111</td>
                                    <td>22222</td>
                                    <td>06</td>
                                    <td>05</td>
                                    <td>Cipapagan</td>
                                </tr>
                                <tr>
                                    <td>Angga</td>
                                    <td>22222</td>
                                    <td>33333</td>
                                    <td>06</td>
                                    <td>05</td>
                                    <td>Cipapagan</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
