<html>
<header>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
</header>

<body>
    <div class="container">
        <div class="row">
            <div class="col-3 pt-5 border">
                <div class="card">
                    <a href="index.html" class="mt-4">
                        <button class="btn btn-info btn-block">Input</button>
                    </a>
                    <a href="cari.html" class="mt-2">
                        <button class="btn btn-info btn-block">Cari</button>
                    </a>
                </div>
            </div>
            <div class="col-9">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>INPUT DATA</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <label class="col-2">No KK</label>
                            <input type="text" class="form-control col-4" name="" id="no_kk" />
                            <div class="col-5 text-right">
                                <button class="btn btn-info">Save</button>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <label class="col-2">Nama</label>
                            <input type="text" class="form-control col-4" name="" id="no_kk" />
                        </div>
                        <div class="row mt-3">
                            <label class="col-2">NIK</label>
                            <input type="text" class="form-control col-4" name="" id="no_kk" />
                            <label class="col-2">Gelombang</label>
                            <input type="text" class="form-control col-3" name="" id="no_kk" />
                        </div>
                        <div class="row mt-3">
                            <label class="col-2">Dusun</label>
                            <input type="text" class="form-control col-4" name="" id="no_kk" />
                            <label class="col-2">RT</label>
                            <input type="text" class="form-control col-1" name="" id="no_kk" />
                            <label class="col-1">RW</label>
                            <input type="text" class="form-control col-1" name="" id="no_kk" />
                        </div>
                    </div>
                    <div class="col-12 mt-5">
                        <table class="table table-bordered">
                            <thead class="text-center">
                                <th>Nama</th>
                                <th>Nik</th>
                                <th>No_KK</th>
                                <th>RT</th>
                                <th>RW</th>
                                <th>Dusun</th>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>Risna</td>
                                    <td>11111</td>
                                    <td>22222</td>
                                    <td>06</td>
                                    <td>05</td>
                                    <td>Cipapagan</td>
                                </tr>
                                <tr>
                                    <td>Angga</td>
                                    <td>22222</td>
                                    <td>33333</td>
                                    <td>06</td>
                                    <td>05</td>
                                    <td>Cipapagan</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
<footer>
    <script src="assets/js/bootstrap.bundle.js"></script>
</footer>

</html>